* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #424242;
}

.container {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;

  @media only screen and (min-width: 600px) {
    grid-template-columns: auto auto;
  }
}

.card {
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 1.5rem;
}

.card h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card p {
  margin-top: 0.5rem;
}

.card .number {
  color: blue;
  font-size: 2rem;
  font-weight: 800;
}

.card .description {
  text-transform: capitalize;
}
