.expenses__container {
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

    h1 {
        font-size: 1.5rem;
        padding: 5px;
    }
}

table {
    background-color: white;

    th {
        background-color: rgba(197, 197, 247, 0.775);
        padding: 5px;
        text-align: center;
        color: blue;
    }

    td {
        color:#424242;
        padding: 5px;
        font-weight: 600;
    }

    .even {
        background-color: #f7f7f7;
    }
}