h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th {
  background-color: azure;
}

th,
td {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.align-right {
  text-align: right;
}

.color-orange {
  color: orange;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

tr:hover {
  background-color: #f6f6f6;
}
